---
import Text from "@/components/Text";
import TechnologyLinks from "./TechnologyLinks";
---

<section class="container" aria-label="Cyberware Loadout">
  <Text variant="smallheading">Cyberware Loadout</Text>
  <Text variant="paragraph">
    Dive into the eclectic array of cybernetic tools that fuel their odyssey
    through the algorithmic maze of the digital underworld
  </Text>
  <TechnologyLinks />
</section>
