---
import Text from "@/components/Text";
import TechnologyLinks from "./TechnologyLinks";
---

<section class="container flex flex-col gap-4" aria-label="Cyberware Loadout">
  <Text variant="subheading">Cyberware Loadout</Text>
  <Text variant="body">
    Dive into the eclectic array of cybernetic tools that fuel their odyssey
    through the algorithmic maze of the digital underworld
  </Text>
  <TechnologyLinks />
</section>
