---
import Text from "@/components/Text";
import TechnologyLinks from "./TechnologyLinks";
---

<section class="container my-8">
  <Text variant="smallheading" className="mb-4">Cyberware Loadout</Text>
  <Text variant="paragraph">
    Dive into the eclectic array of cybernetic tools that fuel their odyssey
    through the algorithmic maze of the digital underworld
  </Text>
  <TechnologyLinks />
</section>
