---
import Text from "@/components/Text";
---

<section
  class="container mx-auto p-8 shadow shadow-neon-pink text-foreground grow h-full rounded-md"
>
  <Text variant="smallheading" className="mb-6"> Beyond the Blackwall </Text>
  <div class="space-y-6">
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Penetrate the Blackwall and trace my digital signal through the shadowy
      depths of cyberspace. Beyond the Blackwall, uncover the encrypted
      coordinates of my virtual existence
    </Text>
    <Text variant="title" className="text-xl font-semibold"> Email </Text>
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Send your digital missives to <a
        href="mailto:your-email@example.com"
        class="text-blue-500">your-email@example.com</a
      >. Each message is a new thread in our shared tapestry.
    </Text>

    <Text variant="title" className="text-xl font-semibold"> LinkedIn </Text>
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Connect with me on <a
        href="https://www.linkedin.com/in/your-profile"
        class="text-blue-500">LinkedIn</a
      >. Let's weave our professional stories together.
    </Text>

    <Text variant="title" className="text-xl font-semibold"> GitHub </Text>
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Discover my open-source adventures on <a
        href="https://github.com/your-username"
        class="text-blue-500">GitHub</a
      >. Each repository is a chapter in our collaborative journey.
    </Text>
  </div>
</section>
