---
import Text from "@/components/Text";
---

<section
  class="container mx-auto p-8 shadow shadow-neon-pink text-foreground grow h-full rounded-md"
>
  <Text variant="smallheading" className="mb-6"> Contact </Text>
  <div class="space-y-6">
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Feel free to reach out to me through any of the following methods:
    </Text>
    <Text variant="title" className="text-xl font-semibold"> Email </Text>
    <Text variant="paragraph" className="text-lg leading-relaxed">
      You can email me at <a
        href="mailto:your-email@example.com"
        class="text-blue-500">your-email@example.com</a
      >.
    </Text>

    <Text variant="title" className="text-xl font-semibold"> LinkedIn </Text>
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Connect with me on <a
        href="https://www.linkedin.com/in/your-profile"
        class="text-blue-500">LinkedIn</a
      >.
    </Text>

    <Text variant="title" className="text-xl font-semibold"> GitHub </Text>
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Check out my projects on <a
        href="https://github.com/your-username"
        class="text-blue-500">GitHub</a
      >.
    </Text>
  </div>
</section>
