---
import Text from "@/components/Text";
import SocialMediaLinks from "./SocialMediaLinks";
---

<section
  class="container mx-auto p-8 neon-box-pulse-slow text-foreground grow h-full rounded-md text-pretty"
>
  <Text variant="smallheading" className="mb-6">
    Track Beyond the Blackwall
  </Text>
  <div class="space-y-6">
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Penetrate the Blackwall and trace their digital signal through the
      enigmatic void deep within cyberspace. Beyond the Blackwall, uncover the
      encrypted coordinates of their virtual existence.
    </Text>
    <SocialMediaLinks />
  </div>
</section>
