---
import Text from "@/components/Text";
---

<section aria-label="Profile" class="container">
  <Text variant="heading">Netrunner Profile: Ave Aristov</Text>
  <Text variant="body">
    Full Stack Developer with a Computer Science degree and a neural interface
    optimized for cutting-edge web technologies. Proficient in modern web
    frameworks and languages like <a
      href="https://astro.build"
      class="text-neon-pink hover:underline">Astro.js</a
    >, <a href="https://nextjs.org" class="text-neon-pink hover:underline"
      >Next.js</a
    >, and <a
      href="https://www.typescriptlang.org"
      class="text-neon-pink hover:underline">TypeScript</a
    >. Specializing in bridging the gap between silicon and synapse, they craft
    intuitive interfaces that blur the lines between the tangible and the
    digital.
  </Text>
</section>
