---
import Text from "@/components/Text";
import HorizontalCard from "./HorizontalCard";
---

<section
  class="container mx-auto p-8 shadow shadow-neon-pink text-foreground grow h-full rounded-md"
>
  <Text variant="smallheading" className="mb-6"> Open Source Chronicles </Text>
  <div class="space-y-6">
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Journey with me through my open-source contributions, each project a
      chapter in our digital landscape's story.
    </Text>
    <div class="space-y-4">
      <HorizontalCard
        title="LibSQL Studio"
        description="Embark on a journey with LibSQL Studio, your gateway to exploring LibSQL and rqlite right from your browser"
        link="https://libsqlstudio.com/"
      />
      <HorizontalCard
        title="KhmerCoders"
        description="A unified blog platform where Khmer coders converge to innovate and thrive in the digital landscape"
        link="https://khmer.codes"
      />
    </div>
  </div>
</section>
