---
import Text from "@/components/Text";
import { Image } from "astro:assets";
import khmerBlog from "src/assets/pictures/khmerblog.png";
---

<section
  class="text-foreground grow h-full rounded-md"
  aria-label="Open Source Chronicles"
>
  <Text variant="subheading" className="mb-6">Open Source Chronicles</Text>
  <div class="space-y-6 text-pretty">
    <Text variant="paragraph">
      Jack into their open-source contributions, each project a chapter in the
      ever-evolving story of our digital realm.
    </Text>

    <article class="project">
      <div class="media">
        <video muted autoplay loop class="rounded-lg">
          <source src="/videos/libsqlstudio-sql-query.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="media">
        <video muted autoplay loop class="rounded-lg">
          <source
            src="https://r2.invisal.com/libsqlstudio-table-editor.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <header class="sticky-content">
        <a href="https://libsqlstudio.com">
          <Text
            variant="title"
            className="text-neon-pink hover:underline scroll-m-20  text-xl font-semibold tracking-tight"
          >
            LibSQL Studio
          </Text>
        </a>
        <Text variant="body">
          Dive into LibSQL Studio, a fully-featured, lightweight cyberdeck for
          exploring Turso, LibSQL, and rqlite directly from your browser
        </Text>
      </header>
    </article>
    <article class="project">
      <div class="media">
        <Image
          src={khmerBlog}
          alt="Khmer Blog Homepage"
          loading="lazy"
          quality="high"
          format="webp"
        />
      </div>
      <div class="sticky-content">
        <a href="https://khmer.codes/">
          <Text
            variant="title"
            className="text-neon-pink hover:underline scroll-m-20  text-xl font-semibold tracking-tight"
            >KhmerCoders Blog</Text
          >
        </a>
        <Text variant="body">
          A nexus where Khmer coders converge to innovate and thrive in the
          digital expanse.
        </Text>
      </div>
    </article>
  </div>
</section>
