---
import Text from "@/components/Text";
import HorizontalCard from "./HorizontalCard";
---

<section
  class="container mx-auto p-8 neon-box-pulse-slow text-foreground grow h-full rounded-md"
>
  <Text variant="smallheading" className="mb-6"> Open Source Chronicles </Text>
  <div class="space-y-6 text-pretty">
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Jack into my open-source contributions, each project a chapter in the
      ever-evolving story of our digital realm.
    </Text>
    <div class="space-y-4">
      <HorizontalCard
        title="LibSQL Studio"
        description="Dive into LibSQL Studio, your cyberdeck for exploring LibSQL and rqlite directly from your browser."
        link="https://libsqlstudio.com/"
      />
      <HorizontalCard
        title="KhmerCoders"
        description="A nexus where Khmer coders converge to innovate and thrive in the digital expanse."
        link="https://khmer.codes"
      />
    </div>
  </div>
</section>
