@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Anuphan";
  font-weight: 1 900;
  font-display: optional;
  src: url("/fonts/anuphan.woff2") format("woff2"),
    url("/fonts/anuphan.woff") format("woff");
}

@layer base {
  :root {
    --background: 330 60% 4%;
    --foreground: 25, 25%, 93%;
    --card: 330 60% 4%;
    --card-foreground: 25, 25%, 93%;
    --popover: 330 60% 4%;
    --popover-foreground: 25, 25%, 93%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 25, 25%, 93%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 25, 25%, 93%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 25, 25%, 93%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 25, 25%, 93%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
    --neon-pink: 330, 90%, 50%;
    --neon-pink-hover: 330, 90%, 60%;
    --space-xl: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
    --space-2xl: clamp(2rem, 1.6522rem + 1.7391vw, 3rem);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Define CSS variables for box-shadow values */
  :root {
    --neon-pink-shadow-1: 0 0 3px hsl(var(--neon-pink));
    --neon-pink-shadow-2: 0 0 6px hsl(var(--neon-pink));
    --neon-pink-shadow-3: 0 0 9px hsl(var(--neon-pink));
    --neon-pink-shadow-4: 0 0 12px hsl(var(--neon-pink));
    --neon-pink-light-shadow-1: 0 0 1.5px hsl(var(--neon-pink));
    --neon-pink-light-shadow-2: 0 0 3px hsl(var(--neon-pink));
    --neon-pink-light-shadow-3: 0 0 5px hsl(var(--neon-pink));
    --neon-pink-light-shadow-4: 0 0 6px hsl(var(--neon-pink));
  }

  @keyframes neonPinkLightPulse {
    0%,
    100% {
      box-shadow: var(--neon-pink-light-shadow-1),
        var(--neon-pink-light-shadow-2), var(--neon-pink-light-shadow-3),
        var(--neon-pink-light-shadow-4);
    }
    50% {
      box-shadow: 0 0 2px hsl(var(--neon-pink)), 0 0 4px hsl(var(--neon-pink)),
        0 0 6px hsl(var(--neon-pink)), 0 0 8px hsl(var(--neon-pink));
    }
  }

  .shadow-neon-pink-light-pulse {
    box-shadow: var(--neon-pink-light-shadow-1), var(--neon-pink-light-shadow-2),
      var(--neon-pink-light-shadow-3), var(--neon-pink-light-shadow-4);
    animation: neonPinkLightPulse 2s infinite;
  }

  @keyframes neonPulse {
    0%,
    100% {
      text-shadow: 0 0 3px hsla(var(--neon-pink), 0.75),
        0 0 6px hsla(var(--neon-pink), 0.65),
        0 0 9px hsla(var(--neon-pink), 0.55);
    }
    50% {
      text-shadow: 0 0 1.5px hsla(var(--neon-pink), 0.75),
        0 0 3px hsla(var(--neon-pink), 0.65),
        0 0 4.5px hsla(var(--neon-pink), 0.55);
    }
    25%,
    75% {
      text-shadow: none;
    }
  }

  .neon-pulse-slow-text {
    animation: neonPulse 8s infinite;
  }

  @keyframes neonBorderPulse {
    0%,
    100% {
      border-color: hsl(var(--neon-pink));
    }
    50% {
      border-color: hsla(var(--neon-pink), 0.75);
    }
    25%,
    75% {
      border-color: hsla(var(--neon-pink), 0.65);
    }
  }

  .neon-border-pulse-slow {
    animation: neonBorderPulse 4s infinite;
  }

  @keyframes svgNeonPulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .svg-neon-pulse {
    animation: svgNeonPulse 4s infinite;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .project {
    padding-top: var(--space-2xl);
  }

  .sticky-content {
    padding-block: var(--space-xl);
    position: sticky;
    bottom: 0;
    align-self: flex-end;
    flex-basis: 100%;
    background-image: linear-gradient(
      to top,
      var(--background) 40%,
      transparent
    );
    background-color: hsl(var(--background) / 0.8);
  }

  .media {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin-inline: auto;
    overflow: hidden;
    border-radius: var(--radius);
    transform-origin: top center;
  }

  @supports (animation-timeline: view()) {
    .project:not(:last-of-type) {
      animation: fadeOut linear forwards;
      animation-range: cover 70% cover 95%;
      animation-timeline: view();
    }

    .media {
      animation: fadeIn ease-in-out both, fadeOut ease-in forwards;
      animation-range: cover 30% contain 50%, contain 90% cover 100%;
      animation-timeline: view();
    }
  }

  .media video,
  /* something weird if i dont add img width */
  .media img {
    width: auto;
    max-width: 100%;
  }

  .media + .media {
    margin-top: var(--space-xl);
  }

  .nav-link {
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .nav-link:hover,
  .nav-link.active {
    text-shadow: 0 0 0.02px hsl(var(--neon-pink-hover)),
      0 0 0.02px hsl(var(--neon-pink-hover)),
      0 0 0.02px hsl(var(--neon-pink-hover));
  }
}
