---
import Text from "@/components/Text";

const jobExperiences = [
  {
    title: "Cofounder - L192",
    period: "2011 till present",
    description: `He started as a one-man developer and implemented everything from
    order management, supply chain systems, payment, and logistics systems
    to mobile development for the first several years. Currently, he only
    provides technical consulting.`,
  },
  {
    title: "Cofounder - Mediaload",
    period: "2012 till present",
    description: `He began as a one-man developer. For the first several years, he
    implemented everything from a Content Management System (CMS) to an
    advertising platform. Currently, he only provides technical
    consulting.`,
  },
  {
    title: "Founder - KhmerCoder Community",
    period: "2018 till present",
    description: `Gather like-minded people to share new technology, inform about job
    opportunities, and discuss our stress levels and trash talk about new
    technology.`,
  },
  {
    title: "Developer Circle Lead in Phnom Penh - Facebook",
    period: "2018-2020",
    description: `He just scheduled a bunch of meetings and convinced local developers
    to use Facebook developer products. It was nothing special.`,
  },
  {
    title: "Senior Developer - Manich Enterprise",
    period: "2011-2012",
    description: `Write a bunch of things. It was a fun experience there.`,
  },
];
---

<section class="container mx-auto p-8">
  <Text variant="smallheading" className="mb-8">Job Experience</Text>
  <div class="border-l-2 border-dashed border-gray-500 pl-4">
    <div class="space-y-8">
      {
        jobExperiences.map((job) => (
          <div>
            <Text variant="title">{job.title}</Text>
            <Text variant="small" className="text-neon-pink">
              {job.period}
            </Text>
            <Text variant="small" className="mt-2 text-pretty">
              {job.description}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
