---
import Text from "@/components/Text";

const jobExperiences = [
  {
    title: "Full Stack Developer - Digital Government Committee",
    period: "Dec 2023 - Present",
    description:
      "In the high-tech corridors of the Digital Government Committee, They engineer web applications using React and Spring Boot. Their mission includes the complex task of migrating from Camunda 8 to 7, a journey through the intricacies of legacy systems. They mentor and align their team, ensuring cohesive progress. They also design the system architecture, creating robust and scalable frameworks.",
  },
  {
    title: "Lead Software Developer - Free Lance",
    period: "May 2023 - Oct 2023",
    description: `As a freelance Lead Software Developer, They ventured into the dynamic world of the Project Zomboid server, developing a custom solution for whitelisting user accounts using Valve's RCON Protocol. They designed and implemented a user-friendly interface for server management, leading a team of four to enhance the user experience. They integrated OAuth2 for secure login and a Discord bot for role management, ensuring seamless and secure interactions within the virtual environment.`,
  },
  {
    title: "Back End Developer - Meka Asia",
    period: "Feb 2023 - Jun 2023",
    description:
      "At Meka Asia, They delved into backend development, creating, testing, and deploying RESTful APIs using NestJs with a serverless architecture. They managed database migrations and structured data, ensuring the integrity and efficiency of the system. From their command center, They also debugged and maintained existing code, resolving complex issues to ensure smooth operations.",
  },
  {
    title: "Back End Developer - Groupin",
    period: "Feb 2022 - Feb 2023",
    description: `During their tenure at Groupin, They developed APIs for L192's Social Media, managing database migrations and structure with the expertise of a seasoned developer. They transitioned the API from RESTful to GraphQL, optimizing data transfer and reducing network load, pushing the boundaries of what’s possible in the tech landscape. This gig was a game-changer for Them, marking their maiden voyage into the neon-lit grid of cyberspace. In the heart of the digital sprawl, amidst the mysteries and encrypted secrets, They forged the foundation for their future ventures in the tech underworld.`,
  },
];
---

<section class="container mx-auto p-8">
  <Text variant="smallheading" className="mb-8">Job Experience</Text>
  <div class="relative pl-4">
    <div
      class="absolute left-0 top-0 bottom-0 w-0.5 border-l-2 border-dashed neon-border-pulse-slow"
    >
    </div>
    <div class="space-y-8">
      {
        jobExperiences.map((job) => (
          <div>
            <Text variant="title">{job.title}</Text>
            <Text
              variant="small"
              className="text-neon-pink neon-pulse-slow-text"
            >
              {job.period}
            </Text>
            <Text variant="small" className="mt-2 text-pretty">
              {job.description}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
