---
import AboutMe from "@/components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import Project from "@/components/Portifillo/Project.astro";
---

<Layout title="Welcome to Astro.">
  <p
    class="container p-8 text-center bg-destructive text-destructive-foreground"
  >
    Site under construction!
  </p>
  <AboutMe />
  <Project />
</Layout>
