---
import AboutMe from "@/components/AboutMe.astro";
import Layout from "../layouts/Layout.astro";
import Project from "@/components/Portifillo/Project.astro";
import Main from "@/components/Main.astro";
---

<Layout title="Home">
  <Main class="flex flex-col gap-8">
    <p class="p-8 text-center bg-destructive text-destructive-foreground">
      Site under construction!
    </p>
    <AboutMe />
    <Project />
  </Main>
</Layout>
