---
import Text from "@/components/Text";
import { Image } from "astro:assets";
import LogoHorizontal from "../../assets/logo/LogoHorizontal.svg";
import Logo from "../../assets/logo/Logo.svg";
import { ButtonLink } from "./ui/button-link";
import { normalizeUrl } from "@/lib/route";

const currentPath = Astro.url.pathname;
const topLevelPath = normalizeUrl(currentPath).split("/")[1];

const links = [{ href: "/about", label: "About" }];

function isActiveLink(linkHref: string, currentTopLevelPath: string) {
  const linkTopLevelPath = linkHref.split("/")[1];
  return currentTopLevelPath === linkTopLevelPath;
}
---

<ButtonLink
  href="#main-content"
  className="absolute left-0 m-3 -translate-y-16 transition focus:translate-y-0 text-foreground"
  aria-label="Skip Navigation"
>
  Skip Navigation
</ButtonLink>
<nav aria-label="Main Navigation">
  <div class="container mx-auto p-4 flex items-center bg-background">
    <a href="/" class="flex flex-row gap-2">
      <Image
        src={Logo}
        alt="Ave Aristov Logo"
        width={45}
        height={30}
        class="sm:hidden block"
      />
      <Image
        src={LogoHorizontal}
        alt="Ave Aristov Logo"
        width={200}
        height={50}
        class="sm:block hidden"
      />
    </a>
    <div class="grow"></div>
    <ul class="flex space-x-4">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class={`text-neon-pink hover:text-neon-pink-hover nav-link ${
                isActiveLink(link.href, topLevelPath) ? "active" : ""
              }`}
            >
              <Text variant="body">{link.label}</Text>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
