---
import Text from "@/components/Text";
import { Image } from "astro:assets";
import LogoText from "../../assets/logo/TextOfLogo.svg";
import Logo from "../../assets/logo/Logo.svg";

const currentPath = Astro.url.pathname;
const topLevelPath = currentPath.split("/")[1].replace(/\.html$/, "");

const links = [{ href: "/about", label: "About" }];

function isActiveLink(linkHref: string, currentTopLevelPath: string) {
  const linkTopLevelPath = linkHref.split("/")[1];
  return currentTopLevelPath === linkTopLevelPath;
}
---

<nav aria-label="Main Navigation">
  <div class="container mx-auto p-4 flex items-center bg-background">
    <a href="/" class="flex flex-row gap-2">
      <Image src={Logo} alt="Ave Aristov Logo" width={45} height={30} />
      <Image
        src={LogoText}
        alt="Ave Aristov Logo"
        width={125}
        height={50}
        class="md:block hidden"
      />
    </a>
    <div class="grow"></div>
    <ul class="flex space-x-4">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class={`text-foreground hover:text-primary ${
                isActiveLink(link.href, topLevelPath)
                  ? "text-neon-pink font-bold"
                  : ""
              }`}
            >
              <Text variant="body">{link.label}</Text>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
