---

import Contact from "./Contact.astro";
import Project from "./Project.astro";


---

<section class="container mx-auto p-8 flex flex-wrap">
  <div class="w-full md:w-1/2">
    <Project />
  </div>
  <div class="w-full md:w-1/2">
    <Contact />
  </div>
</section>