---
import Text from "@/components/Text";
---

<section
  class="container mx-auto p-8 shadow shadow-neon-pink text-foreground grow h-full rounded-md"
>
  <Text variant="smallheading" className="mb-6"> My Digital Craft </Text>
  <div class="space-y-6">
    <Text variant="paragraph" className="text-lg leading-relaxed">
      Journey with me through the contributions I've made in the open-source
      world, where each project is a chapter in the ongoing story of our digital
      landscape.
    </Text>
  </div>
</section>
